.idea/
.vscode/
build/
coverage/
dist/
reports/
node_modules/
test/**/.mendix-cache/
test/**/.svn/
test/**/deployment/
test/**/javasource/
test/**/resources/
test/**/theme/
test/**/userlib/
test/**/.classpath
test/**/.project
test/**/*.launch
*DS_Store*
*.bak
*.launch
*.lock
*.tmp
.editorconfig
yarn-error.log
dev.config.local.js

