.idea/
.vscode/
build/
coverage/
dist/
reports/
node_modules/
demo/**/.mendix-cache/
demo/**/.svn/
demo/**/deployment/
demo/**/GPUCache/
demo/**/javasource/
demo/**/resources/
demo/**/theme/
demo/**/userlib/
demo/**/.classpath
demo/**/.project
demo/**/*.launch
*DS_Store*
*.bak
*.launch
*.lock
*.tmp
.editorconfig
yarn-error.log
dev.config.local.js

